
body {
    display: table;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.auth-container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.auth-box {
    display: inline-block;
    text-align: left;
    background-color: white;
    border: 1px solid silver;
    padding: 30px;
    width: 320px;
}

.auth-box h2 {
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

.auth-box label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: black;
}

.auth-box input[type="text"],
.auth-box input[type="email"],
.auth-box input[type="password"],
.auth-box select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid silver;
}

.auth-box input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: steelblue;
    color: black;
    border: 1px solid navy;
    cursor: pointer;
    font-size: 14px;
}

.auth-box input[type="submit"]:hover {
    background-color: navy;
}

.auth-links {
    text-align: center;
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid whitesmoke;
}

.auth-links a {
    color: steelblue;
}

.auth-box .msg-erro {
    margin-bottom: 15px;
    padding: 10px;
    background-color: lightpink;
    border: 1px solid red;
    color: darkred;
}

.auth-box .msg-sucesso {
    margin-bottom: 15px;
    padding: 10px;
    background-color: lightgreen;
    border: 1px solid green;
    color: darkgreen;
}
