
table th {
    background-color: lightgray;
}

.status-pendente {
    color: orange;
    font-weight: bold;
}

.multa-valor {
    color: red;
    font-weight: bold;
}

.msg-lista-vazia {
    padding: 30px;
    color: gray;
    text-align: center;
    font-style: italic;
}

td form {
    display: inline-block;
    margin: 2px;
}

td form input[type="submit"] {
    padding: 6px 12px;
    font-size: 13px;
}
