
fieldset {
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid silver;
    background-color: whitesmoke;
}

fieldset legend {
    font-weight: bold;
    padding: 0 8px;
}

.fieldset-cadastro {
    background-color: lightyellow;
    border-color: khaki;
}

.fieldset-pesquisa {
    background-color: aliceblue;
    border-color: lightblue;
}

fieldset form {
    display: inline;
}

fieldset input[type="text"],
fieldset input[type="number"],
fieldset select {
    margin-right: 8px;
    margin-bottom: 5px;
}

.btn-limpar {
    background-color: lightgray;
    border: 1px solid gray;
    padding: 6px 12px;
    font-size: 13px;
}

table th {
    background-color: lightgray;
}

.status-indisponivel {
    color: gray;
    font-style: italic;
    font-size: 13px;
}

.acoes-admin {
    margin-top: 8px;
    padding-top: 8px;
    border-top: 1px solid lightgray;
}

.acoes-admin form {
    display: inline-block;
    margin: 2px;
}

.btn-excluir {
    background-color: lightpink;
    border: 1px solid indianred;
}

.btn-excluir:hover {
    background-color: pink;
}

td form {
    display: inline-block;
}

td form input[type="submit"] {
    padding: 6px 12px;
    font-size: 13px;
}
